# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TS environment
src/**/*.js
src/*.js

node_modules/
dist/
typings/

.npm
.env
.DS_Store
